DesignPattern/bin/DesignPattern.dll
DesignPattern/bin/DesignPattern.dll.config
DesignPattern/bin/DesignPattern.pdb
DesignPattern/obj/Debug/DesignPattern.csproj.FileListAbsolute.txt
DesignPattern/obj/Debug/DesignPattern.csprojResolveAssemblyReference.cache
DesignPattern/obj/Debug/DesignPattern.dll
DesignPattern/obj/Debug/DesignPattern.pdb
DesignPattern/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SimpleFactoryPattern/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SimpleFactoryPattern/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SimpleFactoryPattern/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DesignPattern/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DesignPattern/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DesignPattern/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SimpleFactoryPattern/obj/Debug/SimpleFactoryPattern.exe
SimpleFactoryPattern/bin/Debug/SimpleFactoryPattern.exe
SimpleFactoryPattern/bin/Debug/SimpleFactoryPattern.exe.config
SimpleFactoryPattern/bin/Debug/SimpleFactoryPattern.pdb
SimpleFactoryPattern/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SimpleFactoryPattern/obj/Debug/SimpleFactoryPattern.csproj.FileListAbsolute.txt
SimpleFactoryPattern/obj/Debug/SimpleFactoryPattern.pdb
